.container{
    text-align: center;
    padding-bottom: 1em;
    background-color:beige;
}
.container h1{
 
    padding-bottom: 1em;
}
.upload_button button:hover{
    flex: 1;
    color: azure;
   
    background-color: teal;
    cursor: pointer;
    
}
.upload_button {
padding-bottom: 1em;
    
}
.details p,h2{
    padding-bottom: 0.75em;
}